*{
    font-family: 'Roboto', sans-serif;
}

.map {
    margin: 0 auto;
    display: block;
    float: left;
    padding-left: 10px;
}

.well {
    width: 300px;
    float: left;
}

form {
    width: 300px;
    float: right;
    background-color: #083E4B;
    padding: 20px;
    border-radius: 1%;
}

.content {
    flex: 1;
    align-items: center;
}

.btn-info {
    margin-top: 10px;
}

.btn-group {
    margin: 0 auto;
    display: block;
    width: 494px;
    
}

.btn-primary {
    width: 80px;
    font-size: 12px;
}

.submit{
    width: 261px;
}

h3 {
    font-size: 21px;
}

@media (max-width: 1000px) {
    .btn-group{
        display: none
    }
    .well {
        display: block;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
    .map {
        display: block;
        margin: 0 auto;
        float: none;
    }
    form{
        display: block;
        margin: 0 auto;
        float: none;
        margin-top: 10px;
    }
    
    .btn-info{
        margin-top: 0px;
    }
}